#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: 0;
  position: absolute;
}

.top {
    z-index: 1;
    opacity: .6;
    font-weight: bold;
    background-color: rgb(49, 49, 122);
    color: cornsilk;
    margin-top: 5px;
}

a {
  color: rgb(95, 112, 18);
}

th {
  color: rgb(124, 134, 31);
}

.display {
margin-top: 5px;
margin-bottom: 0px;
font-size: 20px;
font-family: 'Indie Flower', cursive;
text-align: center;
}

.content {
margin-top: 0px;
font-family: 'Varela Round', sans-serif;
}

.location {
  background-color: rgb(180, 192, 69);
  color: rgb(49, 49, 122);
  z-index: 2;
  opacity: .6;
  padding-right: 0px;
  font-family: 'Varela Round', sans-serif;
}

.effectPulse {
    margin-top: 10px;
}

.datepicker {
  z-index: 2;
  color: white;
  font-style: bold;
  opacity: .9;
  text-align: center;
}

form {
  margin-right: 0px;
  float: left;
}

#contentCards{
  /* background-color: white; */
  background-color: rgb(209, 221, 103);
  opacity: .999;
}

#titles{
  text-align: center;
  align-content: center; 
  font-weight: bold;
  color: rgb(49, 49, 122);
}

.weather {
  float: left;
}

#tWeather{
  overflow:auto;
  height: 360px;
}

#tEvents{
  overflow:auto;
  height: 360px;
}

#tError{
  z-index: 2;
  color: white;
  font-style: bold;
  opacity: .9;
  text-align: center;
}

#tFood{
  overflow:auto;
  height: 360px;
}

#recentSearch{

  background-color: white;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 14px;
}

.cuisines {
  font-size: 12px;
  font-style: italic;
}

.page-footer {

background-color: white;
margin-top: 0px;
}

.footer-copyright {
}
